<div >
  <form data-toggle="validator" class="form-inline" ng-submit="ingresarArticulo()" role="form">
  <div class="form-group">
    <input type="text" class="form-control"  ng-model="nuevoArticulo.nombre" placeholder="Nombre del articulo" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.precio" placeholder="Precio" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.descripcion" placeholder="Descripcion" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.imagen" placeholder="Url de la imagen" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.cantidad" placeholder="Cantidad del articulo" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.categoria" placeholder="Categoria"    >
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
</div><br>
<div class="cuadroArticulo" ng-repeat="articulo in articulos">
    <div class="panel text-center">
        <a href="#/articulo/{{articulo.nombre}}/{{articulo.id}}">
        <img class="circle" ng-src="{{articulo.imagen}}">
        <span class="tag tag-pill tag-success">{{articulo.cantidad}}</span>
        <h3 >{{articulo.nombre}}</h3>
      </a>

        <h4>{{articulo.precio | currency}}</h4>
    </div>
</div>
