<div >
  <form class="form-inline" ng-submit="ingresarArticulo()">
  <input type="hidden" ng-model="nuevoArticulo.id" >
  <div class="form-group">
    <input type="text" class="form-control"  ng-model="nuevoArticulo.nombre" placeholder="Nombre del articulo">
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="nuevoArticulo.categoria" ng-options="x.nombre for x in categorias">
      <option value="" disabled selected>categorias</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.imagen" placeholder="Url de la imagen">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.descripcion" placeholder="Descripcion">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-model="nuevoArticulo.precio" placeholder="Precio">
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
</div><br>
<div class="cuadroArticulo" ng-repeat="articulo in articulos">
    <div class="panel text-center">
        <a href="#/articulo/{{articulo.nombre}}/{{articulo.id}}">
        <img class="circle" ng-src="{{articulo.imagen}}">
        <h3 >{{articulo.nombre}}</h3>
      </a>
        <h4>{{articulo.precio | currency}}</h4>
    </div>
</div>
