
  <form class="" ng-submit="registrarUsuario()">
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="card card-block">
                    <h3 class="text-xs-center">Registro de Cuenta</h3>
                    <hr>
                    <fieldset>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" ng-model="nuevoRegistro.username" placeholder="Username"  type="text" required>
                        </div>
                        <div class="form-group has-success">
                          <input  class="form-control input-lg" ng-model="nuevoRegistro.password " placeholder="Password"  value="" type="password" required>
                        </div>
                        <div class="form-group has-success">
                            <input  class="form-control input-lg" ng-model="nuevoRegistro.confirmPassword " placeholder="Confirm Password" type="password" required>
                        </div>
                        <div ng-show="validar" style="color:red">Las contraseñas no coindiden</div>
                        <input class="btn btn-lg btn-primary btn-block" value="Registrarme" type="submit">
                    </fieldset>
                </div>
        </div>
    </div>
  </div>
</form>
